body {
	margin: 0px;
}

a {
	color: black;
}

.top_bar {
	text-align: center;
	max-height: 50px;
	background-color: #335599;
}

.top_bar_menu {
	display: inline-block;
	font-size: 25px;
	padding: 5px 8px 5px 8px;

	transition-property: background;
	transition-duration: 0.3s;
	transition-timing-function: linear;
}
.top_bar_menu:hover {
	background-color: #b1c1da;
}

.main_field {
	text-align: center;
	max-width: 1200px;
	margin: auto;
	padding:10px;
}

.offer {
	display: inline-block;
	max-width: 300px;
	padding: 5px;
	margin: 5px;
	background-color: #b1c1da;
}
