{% include "base.html" %}

	<div class="main_field">
		<table align="center"><tr>
			<td valign="top">

				<form method="post" action="{% url 'add_book' %}" enctype="multipart/form-data">
					{% csrf_token %}
					<table>
						<th>
							Přidat knihu
						</th>
						{% for field in form %}
							<tr>
								<td>
									{{field.label}}
								</td>
								<td>
									{{ field }}
								</td>
							</tr>
						{% endfor %}
						<tr>
							<td>
								<input type="submit" name="button" value="Submit">
							</td>
						</tr>
					</table>
				</form>

			</td>
		</tr></table>
	</div>
</body>
