<head>
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
	<div class="top_bar">
		<a href="{% url 'offers_all' %}"><div class="top_bar_menu">procházet</div></a>
		{% if user %}
			<a href="{% url 'sells_all' %}"><div class="top_bar_menu">prodáváno</div></a>
			<div class="top_bar_menu">přihozeno</div>
			<div class="top_bar_menu">k vyřízení</div>
			<a href="{% url 'history_all' %}"><div class="top_bar_menu">historie</div></a>
			<a href="{% url 'logout' %}"><div class="top_bar_menu">odhlásit se</div></a>
		{% else %}
			<a href="{% url 'login' %}"><div class="top_bar_menu">přihlásit se</div></a>
		{% endif %}
	</div>
