{% extends "base.html" %}

{% block content %}
		{% for cluster in clusters %}
			<a href="{% url 'offer_list_for_one_book' cluster.book_id %}"><div class="offer">
					<img src="{{cluster.image}}" style="max-width: 200px"></img>
					<p>Autor: <b>{{cluster.book_author}}</b></p>
					<p>Kniha: <b>{{cluster.book_name}}</b></p>
					<p>Cena: <b>{{cluster.price}} Kč</b></p>
					<p>Množství: <b>{{cluster.amount}} Ks</b></p>
			</div></a>
		{% empty %}
			<p>Žádné nabídky (od ostatních) neexistují.</p>
		{% endfor %}
{% endblock %}
