{% extends "base.html" %}

{% block content %}
		{% if form %}
			<p>Nemůžete najít knihu? <a href="{% url 'add_book' %}">Přidejte jí!</a></p>
			<form method="post" action="{% url 'process_sell' %}">
				{% csrf_token %}
				<table>
					<th>
						Prodat
					</th>
					{% for field in form %}
						<tr>
							<td>
								{{field.label}}
							</td>
							<td>
								{{ field }}
							</td>
						</tr>
					{% endfor %}
					<tr>
						<td>
							<input type="submit" name="button" value="Odeslat">
						</td>
					</tr>
				</table>
			</form>
		{% endif %}	
		{% for offer in offers %}
			<a href="{% url 'offer_detail' offer.id %}"><div class="offer">
				<img src="{{offer.book.image.url}}" style="max-width: 200px"></img>
				{% include 'book.html' %}
				<p>Prodávající: <b>{{offer.vendor}}</b></p>
			</div></a>
		{% endfor %}
{% endblock %}
