{% extends "base.html" %}

{% block content %}

		<h3>Prodáno</h3>
		{% for offer in offers_sold %}
			<a href="{% url 'history_detail' offer.id %}"><div class="offer">
				<img src="{{offer.book.image.url}}" class="img_list"></img>
				{% include 'book.html' %}
			</div></a>
		{% empty %}
			<p>Nic k vyřízení.</p>
		{% endfor %}

		<h3>Koupeno</h3>
		{% for offer in offers_bought %}
			<a href="{% url 'history_detail' offer.id %}"><div class="offer">
				<img src="{{offer.book.image.url}}" class="img_list"></img>
				{% include 'book.html' %}
			</div></a>
		{% empty %}
			<p>Nic k vyřízení.</p>
		{% endfor %}

{% endblock %}
