{% extends "base.html" %}

{% block content %}
		<table align="center"><tr>
			<td valign="top">

				<form method="post" action="{% url 'login' %}">
					{% csrf_token %}
					<table>
						<th>
							Přihlásit se
						</th>
						{% for field in form %}
							<tr>
								<td>
									{{field.label}}
								</td>
								<td>
									{{ field }}
								</td>
							</tr>
						{% endfor %}
						<tr>
							<td>
								<input type="submit" name="button" value="Přihlásit se">
							</td>
						</tr>
					</table>
				</form>

			</td>
		</tr></table>
{% endblock %}
