{% extends "base.html" %}

{% block content %}
		<table align="center">
			<tr>
				<td valign="top">
					<img src="{{offer.book.image.url}}" class="img_detail"></img>
				</td>
				<td valign="top">
					{% include 'book.html' %}
					<p>Prodávající: <b>{{offer.vendor}}</b></p>
					<p>Tuto knihu prodáváte vy</p>
					<form method="post" action="{% url 'offer_detail' offer.id %}">
						{% csrf_token %}
						<input type="submit" value="Stáhnout z prodeje">
					</form>
				</td>
			</tr><tr>
				<td valign="top">Knihu chtějí koupit:</td>
			</tr><tr>
				<td valign="top">
					{% for buyer in buyers %}
						<div class="offer">
							<p>{{buyer.first_name}} {{buyer.last_name}}</p>
							<p>{{buyer.email}}, {{buyer.visited_class}}</p>
						</div>
					{% endfor %}
				</td>
			</tr>
		</table>
{% endblock %}
